
@model Mvc_Project.Models.Employee
<h2 class ="text-primary text-center">Employee Details</h2>
<table class=" table table-bordered table-active table-striped">
    <thead>
        <tr>
            <th> Empno </th>
            <th> Name </th>
            <th> Address </th>
            <th> Salary </th>

        </tr>
    </thead>
</table>


